/**
 * admin layout css style
 * create by phachon
 */

.space-left-pane {
    box-shadow: 0 0 2px rgba(0,21,41,.35);
    overflow-x: visible;
    background-color: #fff;
    /* padding-left: 12px; */
    padding-top: 12px;
}

.space-doc-tree {
  /* padding-left: 10px; */
}

.ant-layout-sider-trigger {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ddd;
}

.space-content {
    margin: 0 8px;
    /*padding: 8px 8px;*/
    width: auto;
    background: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow: auto;
}

.ant-layout .ant-layout-footer {
    text-align: center;
    padding: 16px 50px;
}

.doc-sider {
  /* background: black; */
}

.doc-tree {
  border-radius: 0;
  /* padding-left: 10px; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.doc-tree .ant-tree-treenode {
  padding: 0px;
}

.ant-tree.ant-tree-directory .ant-tree-treenode:before {
  bottom: 0 !important;
}

/* 将背景颜色更改为灰色 */
.ant-tree.ant-tree-directory .ant-tree-treenode-selected:before {
  background-color: #e6f4ff !important;
}

/* 设置选中状态的文字颜色 */
.ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-node-content-wrapper {
  color: black !important;
  font-weight: 500;
}

/* 设置切换图标的颜色 */
.ant-tree.ant-tree-directory .ant-tree-switcher {
  color: black !important;
}

.doc-tree .ant-tree-node-content-wrapper {
  font-size: 14px;
  font-weight: 400;
  padding: 3px 0px 3px 0px;
  border-radius: 3px;
}

.doc-tree .ant-tree-switcher {
  font-size: 14px;
  line-height: 30px;
}

.doc-tree .ant-tree-indent-unit {
  width: 16px;
}

.doc-tree .ant-tree-child-tree {
  margin-left: 16px;
}

.doc-tree .ant-tree-indent {
  margin-left: 12px;
}

.custom-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-icon {
  margin-right: 5px;
}

.custom-title-wrapper .custom-icon {
  visibility: hidden;
}

.custom-title-wrapper:hover .custom-icon {
  visibility: visible;
}



/* 分割线，调整按钮的位置 */

/* :root {
  --focus-border: #007fd4 !important;
  --sash-size: 6px;
  --sash-hover-size: 4px;
}

:root {
  --separator-border: rgba(128, 128, 128, 0.35);
  --sash-hover-transition-duration: 0.1s;
} */

.separator-container {
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-collapse-btn {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0.3s;
}

.allotment .Separator {
  --allotment-separator-size: 20px;
  --allotment-separator-color: transparent;
}

.allotment:hover .Separator,
.allotment:active .Separator {
  --allotment-separator-color: red;
}

/* .allotment .Separator:hover + .separator-container .toggle-collapse-btn {
  visibility: visible;
}

.allotment .Separator {
  --allotment-separator-size: 10px;
  --allotment-separator-color: transparent;
}

.allotment .Separator:hover,
.allotment .Separator:active {
  --allotment-separator-color: blue;
} */