<div class="container-fluid">{{$user := .user}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3><i class="fa fa-address-card-o"></i> {{$user.username}}（{{$user.given_name}}）</h3>
            </div>
            <ul class="nav nav-tabs">
                <li><a href="/system/profile/info">用户信息</a></li>
                <li class="active"><a href="/system/profile/followUser">关注用户</a></li>
                <li><a href="/system/profile/followDoc">关注文档</a></li>
            </ul>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div style="margin: 10px 0 15px 0">
                        <span class="label label-default">我的关注</span>
                    </div>
                    {{if eq .followCount 0}}
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                        <p><i class="glyphicon glyphicon-volume-up"></i> 还没有关注任何用户！</p>
                    </div>
                    {{else}}
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="w25p text-left"><strong>用户名</strong></td>
                            <td class="text-left"><strong>姓名</strong></td>
                            <td class="text-left"><strong>邮箱</strong></td>
                            <td class="w12p center"><strong>取消</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $user := .users}}
                        <tr>
                            <td>
                                <strong><a href="/user/info?user_id={{$user.user_id}}">{{$user.username}} </strong><span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a>
                            </td>
                            <td>{{$user.given_name}}</td>
                            <td>{{$user.email}}</td>
                            <td class="center">
                                <a onclick="Common.ajaxSubmit('/follow/cancel?follow_id={{$user.follow_id}}&user_id={{$user.user_id}}')"><i class="glyphicon glyphicon-heart"></i></a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
                <div class="col-md-6">
                    <div style="margin: 10px 0 15px 0">
                        <span class="label label-default">我的粉丝</span>
                    </div>
                    {{if eq .fansCount 0}}
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 0">
                        <p><i class="glyphicon glyphicon-volume-up"></i> 暂时还没有粉丝！</p>
                    </div>
                    {{else}}
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="w25p text-left"><strong>用户名</strong></td>
                            <td class="text-left"><strong>姓名</strong></td>
                            <td class="text-left"><strong>邮箱</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $fansUser := .fansUsers}}
                        <tr>
                            <td>
                                <strong><a href="/user/info?user_id={{$fansUser.user_id}}">{{$fansUser.username}} </strong><span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a>
                            </td>
                            <td>{{$fansUser.given_name}}</td>
                            <td>{{$fansUser.email}}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>