<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <form class="form-horizontal" method="post" action="/system/profile/savePass">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 当前密码 </label>
                    <div class="col-sm-4">
                        <input type="password" name="pwd" class="form-control" placeholder="请输入当前密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 新密码 </label>
                    <div class="col-sm-4">
                        <input type="password" name="pwd_new" class="form-control" placeholder="请输入新密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 确认新密码 </label>
                    <div class="col-sm-4">
                        <input type="password" name="pwd_confirm" class="form-control" placeholder="请再次输入新密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" onclick="Form.ajaxSubmit(this.form, false)">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>