<br>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
            <div class="panel-body">{{$server := .server}}
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>安装步骤</strong></div>
                        <div class="list-group">
                            <a href="/install/license" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 1. 许可协议</a>
                            <a href="/install/env" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 2. 环境检测</a>
                            <a href="/install/config" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 3. 系统配置</a>
                            <a href="/install/database" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 4. 数据库配置</a>
                            <a href="/install/ready" class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i> 5. 准备安装</a>
                            <a href="#" class="list-group-item active"><i class="glyphicon glyphicon-hand-right"></i> 6. 安装完成</a>
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><i class="fa fa-spinner fa-spin"></i> 安装中</strong></div>
                    <div class="panel-body center">
                        <div id="install_load" class="">
                            <img src="/static/images/install/loading1.gif" style="padding-top: 70px;padding-bottom: 70px">
                            <h5 class="text-danger"><strong>正在努力安装中, 请耐心等待...</strong></h5>
                        </div>
                        <div id="install_success" class="hidden">
                            <img src="/static/images/install/success.png" height="200px" width="200px">
                            <h5 class="text-success"><strong>恭喜安装成功!</strong></h5>
                            <h5 class="text-success"><strong>启动命令：</strong>
                                <span data-name="success_run_cmd"><code></code></span>
                            </h5>
                            <h5 class="text-success"><strong>访问地址：<a href="#" target="_blank" data-name="success_message"></a></strong></h5>
                        </div>
                        <div id="install_failed" class="hidden">
                            <img src="/static/images/install/cry.png" height="200px" width="200px">
                            <h5 class="text-danger"><strong>抱歉，安装失败, 错误信息如下：</strong></h5>
                            <h5 class="text-danger" data-name="error_message"></h5>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>© {{.copyright}}</p>
    </footer>
</div>
<script type="text/javascript">
    setInterval('Install.GetInstallStatus("/install/status")', 3000)
</script>