<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="third-slide" src="/static/style/images/bkg-3.jpg" style="width: 100%;height: 612px" alt="Third slide">
            <div class="container">
                <div class="carousel-caption" style="color: #e9e6ec;">
                    <img class="animated bounceInLeft" src="/static/style/brand.png">
                    <hr>
                    <h2 style="!important; line-height: 1.3cm;text-align: left">
                    </h2>
                    <hr>
                    <p><a class="btn btn-lg btn-primary" href="/install/license" role="button">开始自动安装 &raquo;</a></p>
                    <p>&copy; 2018 BZPPX Inc.</p>
                    <p>
                        <a class="label label-danger" href="https://github.com/bzppx/bzppx-codepub" role="button" target="_blank">
                            <i class="glyphicon glyphicon-star-empty"></i> Star</a>
                        <a class="label label-info" href="https://github.com/bzppx/bzppx-codepub" role="button" target="_blank">
                            <i class="glyphicon glyphicon-random"></i> Fork</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>