<style>
    .bg-blur {
        -webkit-mask:-webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,1));
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="bg-blur" src="/static/images/install/bg.png" style="width: 100%;height: 100%;" alt="Third slide">
            <div class="container">
                <div class="carousel-caption" style="color: rgb(67,67,67);">
                    <img class="animated bounceInLeft" src="/static/images/logo.png" style="height: 120px">
                    <hr style="height:1px;border:none;border-top:2px ridge rgba(183,180,184,0.6);" />
                    <h2 style="!important; line-height: 1.3cm;text-align: left;">
                        MM-Wiki 是一个轻量级的企业知识分享与团队协同软件，可用于快速构建企业 Wiki 和团队知识分享平台。部署方便，使用简单，帮助团队构建一个信息共享、文档管理的协作环境。
                    </h2>
                    <hr style="height:1px;border:none;border-top:2px ridge rgba(183,180,184,0.6);" />
                    <p><a class="btn btn-lg btn-primary" href="/install/license" role="button">运行安装向导 &raquo;</a></p>
                    <p>&copy; {{.copyright}}</p>
                    <p>
                        <a class="label label-danger" href="https://github.com/phachon/mm-wiki" role="button" target="_blank">
                            <i class="glyphicon glyphicon-star-empty"></i> Star</a>
                        <a class="label label-info" href="https://github.com/phachon/mm-wiki" role="button" target="_blank">
                            <i class="glyphicon glyphicon-random"></i> Fork</a>
                    </p>
                    <br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>