logs/*.log
.DS_Store
!.gitignore
.gitignore___jb_tmp___
*.exe
*.exe~
mm-wiki
*.session/
.mmwiki.sessions/
conf/mm-wiki.conf
mm-wiki.conf
release/
release-*
data/
install/install
install/install.exe
install.lock