<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>{{.document.name}} Powered by MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome css-->
    <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <!-- editormd CSS-->
    <link type="text/css" rel="stylesheet" href="/static/plugins/editor.md/css/editormd.preview.css" />
    <link type="text/css" rel="stylesheet" href="/static/plugins/editor.md/css/editormd.min.css" />
    <!-- scrollup css -->
    <link type="text/css" rel="stylesheet" href="/static/plugins/scrollup/css/themes/image.css" />

    <!-- Custom styles for this template -->
    <link href="/static/css/share.css" rel="stylesheet">

    <!-- jquery js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <!-- Bootstrap js-->
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- scrollup js-->
    <script type="text/javascript" src="/static/plugins/scrollup/js/jquery.scrollUp.min.js"></script>
    <!-- jquery-qrcode-->
    <script type="text/javascript" src="/static/plugins/jquery-qrcode/jquery.qrcode.min.js"></script>

    <!-- editor.md js-->
    <script type="text/javascript" src="/static/plugins/editor.md/editormd.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/marked.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/prettify.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/raphael.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/underscore.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
    <script type="text/javascript" src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>

    <!-- common js-->
    <script type="text/javascript" src="/static/js/common/common.js"></script>
</head>
<body id="frame-body">
{{.LayoutContent}}
</body>
</html>