<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="wiki markdown">
    <meta name="author" content="phachon">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- font-awesome css-->
    <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <!-- jquery popover css-->
    <link type="text/css" rel="stylesheet" href="/static/plugins/popover/css/jquery.webui-popover.min.css">

    <!-- dashboard css -->
    <link type="text/css" rel="stylesheet" href="/static/css/dashboard.css">
    <!-- common css -->
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">

    <!-- jquery js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <!-- bootstrap js-->
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery popover js-->
    <script type="text/javascript" src="/static/plugins/popover/js/jquery.webui-popover.min.js"></script>
    <!-- layer js-->
    <script type="text/javascript" src="/static/plugins/layui/layer/layer.js"></script>
    <!-- layout js-->
    <script type="text/javascript" src="/static/plugins/layout/jquery-ui-1.11.0.js"></script>
    <script type="text/javascript" src="/static/plugins/layout/jquery.layout.min.js"></script>
    <!-- common js-->
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    <script type="text/javascript" src="/static/js/common/layers.js"></script>
    <script type="text/javascript" src="/static/js/modules/common.js"></script>
    <script type="text/javascript" src="/static/js/modules/main.js"></script>
</head>
<body>
{{template "layouts/header.html" .}}
{{.LayoutContent}}
</body>
</html>