<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MM-Wiki</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- font-awesome CSS-->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jquery popover CSS-->
    <link href="/static/plugins/popover/css/jquery.webui-popover.min.css" rel="stylesheet">
    <!-- fancybox CSS-->
    <link href="/static/plugins/fancybox/css/jquery.fancybox.css" rel="stylesheet">
    <!-- fancybox CSS-->
    <link href="/static/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <!-- jquery js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <!-- Bootstrap js-->
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery popover js-->
    <script type="text/javascript" src="/static/plugins/popover/js/jquery.webui-popover.min.js"></script>
    <!-- fancybox js-->
    <script type="text/javascript" src="/static/plugins/fancybox/js/jquery.fancybox.js"></script>
    <!-- layer js-->
    <script type="text/javascript" src="/static/plugins/layui/layer/layer.js"></script>
    <!-- layer js-->
    <script type="text/javascript" src="/static/plugins/metisMenu/metisMenu.min.js"></script>
    <script type="text/javascript" src="/static/js/common/common.js"></script>
    <script type="text/javascript" src="/static/js/common/form.js"></script>
    <script type="text/javascript" src="/static/js/common/layers.js"></script>
    <!-- modules js-->
    <script type="text/javascript" src="/static/js/modules/main.js"></script>
</head>
<body>
{{template "layouts/header.html" .}}
{{.LayoutContent}}
</body>
</html>