<div class="container-fluid">
    <div id="main-content" class="row">
        <div id="main-left" class="col-md-2 sidebar">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="搜索...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="glyphicon glyphicon-user"></i> 用户管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/user/add"><i class="glyphicon glyphicon-list"></i> 添加用户 </a>
                            </li>
                            <li>
                                <a href="/user/list"><i class="glyphicon glyphicon-list"></i> 用户列表 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-users"></i> 角色管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/user/add"><i class="glyphicon glyphicon-list"></i> 添加角色 </a>
                            </li>
                            <li>
                                <a href="/user/list"><i class="glyphicon glyphicon-list"></i> 角色列表 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="glyphicon glyphicon-folder-open"></i> 空间管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/space/add"><i class="glyphicon glyphicon-list"></i> 添加空间 </a>
                            </li>
                            <li>
                                <a href="/space/list"><i class="glyphicon glyphicon-list"></i> 空间列表 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-tasks"></i> 日志管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""><i class="glyphicon glyphicon-list"></i> 系统日志 </a>
                            </li>
                            <li>
                                <a href=""><i class="glyphicon glyphicon-list"></i> 文档日志 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-wrench"></i> 配置管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""><i class="glyphicon glyphicon-list"></i> 首页配置 </a>
                            </li>
                            <li>
                                <a href=""><i class="glyphicon glyphicon-list"></i> 邮箱配置 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="fa fa-bar-chart"></i> 统计管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=""><i class="glyphicon glyphicon-list"></i> 数据统计 </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main-right" class="col-md-10" style="padding: 8px 0 8px 4px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4><i class="glyphicon glyphicon-volume-up"></i> 欢迎来到 XXXX 科技公司 wiki 平台！</h4>
                            <p>请使用域账号登录，使用中有任何问题请联系管理员 root@xxx.com！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-line"></div>
    </div>
</div>