/**
 * login css style
 * created by phachon
 */

.login-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-header {
  display: flex;
  padding: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.login-header-logo {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  padding: 0 8px;
  width: 208px;
}

.login-header-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-header-text {
  margin: 0 0 0 12px;
  color: #1d2129;
  font-weight: 600;
  font-size: 18px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: .3s;
}

.login-header-logo img {
  height: 36px;
}

.login-header-nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.login-header-right {
  display: flex;
  padding: 0 12px;
  transition: all .3s;
}

.login-header-action {
  cursor: pointer;
  padding: 0 12px;
  transition: all .3s;
}

.login-header-action a {
  color: #1d2129;
}

.login-header-action:hover {
  background: #f5f5f5;
}

.login-container {
  flex: 1;
  background-color: #f7f8fa;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-img {
}

.login-form {
  width: 430px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  height: 100%;
}

.ant-pro-form-login-desc {
  margin-bottom: 20px;
}

.login-footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}

.login-footer .login-footer-bar {
  padding: 15px;
}