<div class="login_box">
    <div class="login_l_img"><img src="/static/images/logo2.jpg" /></div>
    <div class="login">
        {{/*<div class="login_logo"><a href="#"><img src="/static/images/login_logo.png" /></a></div>*/}}
        <div class="login_name">
            <p>统一登录 | 账号登录</p>
        </div>
        <form action="/author/login" method="post" onsubmit="return false">
            <input name="username" type="text"  value="" placeholder="用户名">
            <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();" >密码</span>
            <input name="password" type="password" id="password" style="display:none;"/>
            <input value="登录" style="width:100%;" type="submit" onclick="Login.ajaxSubmit(this.form)">
        </form>
    </div>
    <div class="copyright">
        <div class="text-center" style="font-size: 12px;">© 2018 <a style="color: #d8d8d8;" target="_blank" href="https://github.com/phachon">phachon</a></div>
        <div class="text-center" style="font-size: 13px;">请使用 Firefox, Chrome, IE9+ 浏览器达到更好效果</div>
        <div class="text-center" style="font-size: 12px;"><a style="color: #d8d8d8;" target="_blank" href="https://github.com/phachon/MM-Wiki"><i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;MM Wiki Version {{.version}}</a></div>
    </div>
</div>
