<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MM Wiki</title>
  <!-- Bootstrap core CSS -->
  <link href="resource/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="resource/css/dashboard.css" rel="stylesheet">
  <link href="resource/css/common.css" rel="stylesheet">
  <link href="resource/css/main.css" rel="stylesheet">
  <script type="text/javascript" src="resource/plugins/jquery/jquery1.1.js"></script>
  <script type="text/javascript" src="resource/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="resource/js/module/main.js"></script>
</head>

<body>

<div id="sidebar-wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="width: 238px">&nbsp;&nbsp;Markdown Mini Wiki</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;主页</a></li>
          <li><a href="space.html"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;空间</a></li>
          <li><a href="user.html"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;用户</a></li>
          <li><a href="config.html"><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;设置</a></li>
        </ul>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group form-group-sm">
              <input type="text" placeholder="搜索内容" class="form-control input-sm" style="width: 250px;">
          </div>
          <button type="button" class="btn btn-sm btn-success">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="helpLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;帮助
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="helpLabel">
              <li><a href="/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;在线文档</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;联系我们</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="userLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;root
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userLabel">
              <li><a href="/"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;个人信息</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;修改密码</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;安全退出</a></li>
            </ul>
          </li>
          &nbsp;&nbsp;
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div id="main-content" class="row">
    <div id="main-left" class="col-md-2 sidebar">
      <div class="left-search">
        <form>
          <div class="input-group">
            <input class="form-control input-sm" type="text" value="" placeholder="搜索文档...">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-success" type="button"><i class="glyphicon glyphicon-search"></i></button>
          </span>
          </div>
        </form>
        <ul id="dir_tree" class="ztree" style="margin-top: 5px"></ul>
      </div>
      <div class="left-collection-doc">
        <span class="center"> 收藏文档 <span class="badge">42</span> </span>
        <hr>
        <ul>
          <li><a href="page.html">这是测试文档这是测试文档</a></li>
          <li><a href="page.html">这是测试文档这是测试文档</a></li>
          <li><a href="page.html">这是测试文档这是测试文档</a></li>
          <li><a href="page.html">这是测试文档这是测试文档</a></li>
        </ul>
      </div>
      <div class="left-tree">
      </div>
    </div>
    <div id="main-right" class="col-md-10" style="padding: 8px 0 8px 4px">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4><i class="glyphicon glyphicon-volume-up"></i> 欢迎来到 XXXX 科技公司 wiki 平台！</h4>
              <p>请使用域账号登录，使用中有任何问题请联系管理员 root@xxx.com！</p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>文档更新</strong></div>
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>文档</th>
                    <th class="w18p">用户</th>
                    <th class="w24p">更新时间</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                    <td class="center">wangxiaoer</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档</td>
                    <td class="center">admin(adadasda)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                    <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档</td>
                    <td class="center">admin(adadasda)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                    <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档</td>
                    <td class="center">admin(adadasda)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                    <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档</td>
                    <td class="center">admin(adadasda)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                    <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  <tr>
                    <td>这是测试文档这是测试文档</td>
                    <td class="center">admin(adadasda)</td>
                    <td class="center">2018-09-10: 08:19:09</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-5" >
            <div class="panel panel-default" style="height: 320px">
              <div class="panel-heading"><strong>系统公告</strong></div>
              <div class="panel-body">
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                  <p>
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    <strong>公告内容：公告内容公告内容公告内容</strong>
                  </p>
                </div>
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                  <p>
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    <strong>公告内容：公告内容公告内容公告内容</strong>
                  </p>
                </div>
                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                  <p>
                    <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    <strong>公告内容：公告内容公告内容公告内容</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5" >
            <div class="panel panel-default" style="height: 315px">
              <div class="panel-heading"><strong>系统联系手册</strong></div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                  <li class="list-group-item">运维：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                  <li class="list-group-item">产品：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                  <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main-line"></div>
  </div>
</div>
</body>
</html>