<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MM Wiki</title>
  <!-- Bootstrap core CSS -->
  <link href="resource/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="resource/css/dashboard.css" rel="stylesheet">
  <link href="resource/css/main.css" rel="stylesheet">
  <link href="resource/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="resource/css/common.css" rel="stylesheet">

  <script type="text/javascript" src="resource/plugins/jquery/jquery1.1.js"></script>
  <script type="text/javascript" src="resource/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="resource/js/module/main.js"></script>
</head>

<body>

<div id="sidebar-wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="width: 238px">&nbsp;&nbsp;Markdown Mini Wiki</a>
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;主页</a></li>
          <li class="active"><a href="space.html"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;空间</a></li>
          <li><a href="user.html"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;用户</a></li>
          <li><a href=""><i class="glyphicon glyphicon-cog"></i>&nbsp;&nbsp;设置</a></li>
        </ul>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group form-group-sm">
            <input type="text" placeholder="搜索内容" class="form-control input-sm" style="width: 250px;">
          </div>
          <button type="button" class="btn btn-sm btn-success">搜索</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a id="helpLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;帮助
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="helpLabel">
              <li><a href="/"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;在线文档</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;联系我们</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="userLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;root
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userLabel">
              <li><a href="/"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;个人信息</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;修改密码</a></li>
              <li><a href="/"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;安全退出</a></li>
            </ul>
          </li>
          &nbsp;&nbsp;
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div id="main-content" class="row">
    <div id="main-left" class="col-md-2 sidebar">
      <div class="left-space">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;全部空间 <span class="sr-only">(current)</span></a></li>
          <li><a href="#"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;收藏空间</a></li>
        </ul>
        <h4 class="sub-header">空间分类</h4>
        <ul class="ul-space-category">
          <li><i class="glyphicon glyphicon-hand-right"></i> <label class="label label-info"><a href="#">运维</a> </label></li>
          <li><i class="glyphicon glyphicon-hand-right"></i> <label class="label label-warning"><a href="#">产品</a></label></li>
          <li><i class="glyphicon glyphicon-hand-right"></i> <label class="label label-danger"><a href="#">运营</a></label></li>
          <li><i class="glyphicon glyphicon-hand-right"></i> <label class="label label-default"><a href="#">设计</a></label></li>
          <li><i class="glyphicon glyphicon-hand-right"></i> <label class="label label-primary"><a href="#">研发</a></label></li>
        </ul>
      </div>
    </div>
    <div id="main-right" class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="panel-body" style="padding: 15px 0;">
              <ul class="nav nav-tabs">
                <li class="active"><a href="space.html">空间列表</a></li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="row">
                <form>
                  <div class="col-md-3 col-lg-offset-9">
                    <div class="input-group">
                      <input class="form-control" type="text" value="" placeholder="名称/描述" name="keyword">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel ">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th class="w15p text-left">名称</th>
                    <th class="text-left">描述</th>
                    <th class="w10p">分类</th>
                    <th class="w11p">创建时间</th>
                    <th class="w10p">操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="space_page.html"><strong>广告事业部</strong> <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span></a></td>
                    <td>广告产品研发运营</td>
                    <td class="center"><label class="label label-info">运维</label></td>
                    <td class="center">2017-07-16</td>
                    <td class="center">
                      <a name="edit" data-link=""><span class="text text-warning"><i class="glyphicon glyphicon-star-empty"></i> </span></a>
                      <a name="message" data-link=""><i class="fa fa-group"> </i></a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="space_page.html"><strong>广告事业部</strong> <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span></a></td>
                    <td>广告产品研发运营</td>
                    <td class="center"><label class="label label-danger">研发</label></td>
                    <td class="center">2017-07-16</td>
                    <td class="center">
                      <a name="edit" data-link=""><span class="text text-warning"><i class="glyphicon glyphicon-star"></i> </span></a>
                      <a name="message" data-link=""><i class="fa fa-group"> </i></a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="space_page.html"><strong>广告事业部</strong> <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span></a></td>
                    <td>广告产品研发运营</td>
                    <td class="center"><label class="label label-warning">产品</label></td>
                    <td class="center">2017-07-16</td>
                    <td class="center">
                      <a name="edit" data-link=""><i class="glyphicon glyphicon-star-empty"> </i></a>
                      <a name="message" data-link=""><i class="fa fa-group"> </i></a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="space_page.html"><strong>广告事业部</strong> <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span></a></td>
                    <td>广告产品研发运营</td>
                    <td class="center"><label class="label label-default">运营</label></td>
                    <td class="center">2017-07-16</td>
                    <td class="center">
                      <a name="edit" data-link=""><i class="glyphicon glyphicon-star"> </i> </a>
                      <a name="message" data-link=""><i class="fa fa-group"> </i></a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="space_page.html"><strong>广告事业部</strong> <span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span></a></td>
                    <td>广告产品研发运营</td>
                    <td class="center"><label class="label label-primary">设计</label></td>
                    <td class="center">2017-07-16</td>
                    <td class="center">
                      <a name="edit" data-link=""><i class="glyphicon glyphicon-star"> </i> </a>
                      <a name="message" data-link=""><i class="fa fa-group"> </i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="panel-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main-line"></div>
  </div>
</div>
</body>
</html>