<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h2>关注用户 <small><span class="badge">{{.count}}</span></small></h2>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="w15p text-left">用户名</th>
                <th class="text-left">姓名</th>
                <th class="text-left">职位</th>
                <th class="w17p text-left">邮箱</th>
                <th class="w11p text-left">座机</th>
                <th class="w11p text-left">手机</th>
                <th class="w11p text-left">IM</th>
                <th class="w8p">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $user := .users}}
            <tr>
                <td>
                    <strong><a href="/user/info?user_id={{$user.user_id}}">{{$user.username}} </strong><span class="text text-primary"><i class="glyphicon glyphicon-new-window"></i></span> </a>
                </td>
                <td>{{$user.given_name}}</td>
                <td>{{$user.position}}</td>
                <td>{{$user.email}}</td>
                <td>{{$user.phone}}</td>
                <td>{{$user.mobile}}</td>
                <td>{{$user.im}}</td>
                <td class="center">
                    <a onclick="Common.ajaxSubmit('/user/cancelFollow?follow_id={{$user.follow_id}}&user_id={{$user.user_id}}')"><i class="glyphicon glyphicon-heart"></i></a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>
</div>