<div id="main-left" class="ui-layout-west">
    <div class="left-space">
        <ul class="nav nav-sidebar menu-nav">
            <li class="active"><a href="/user/list" target="mainFrame"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;全部用户 <span class="sr-only">(current)</span></a></li>
            <li><a href="/user/follow" target="mainFrame"><i class="glyphicon glyphicon-heart"></i>&nbsp;&nbsp;关注用户</a></li>
        </ul>
    </div>
</div>
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame"  width="100%" frameborder="0" scrolling="yes" style="overflow-y: auto" src="/user/list"></iframe>