<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body" style="padding: 0 0;">
                <ul class="nav nav-tabs">
                    <li class="active"><a href=":;">用户列表</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form>
                        <div class="col-md-3 col-lg-offset-9">
                            <div class="input-group">
                                <input class="form-control" type="text" value="" placeholder="用户名" name="keyword">
                                <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel ">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="w10p text-left">全名</th>
                            <th class="text-left">职位</th>
                            <th class="w17p">邮箱</th>
                            <th class="w11p">座机</th>
                            <th class="w10p">手机</th>
                            <th class="w15p center">IM</th>
                            <th class="w10p">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> <strong><a href="">李白 <i class="glyphicon glyphicon-new-window"></i></a> </strong></td>
                            <td>高级JAVA开发工程师架构师</td>
                            <td class="center">libailibai@phachon.com.cn</td>
                            <td class="center">010-00000000</td>
                            <td class="center">15201203612</td>
                            <td class="center">QQ: 503748759</td>
                            <td class="center">
                                <a name="edit" data-link=""><i class="glyphicon glyphicon-heart"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>李白李白</td>
                            <td>高级JAVA开发工程师架构师</td>
                            <td class="center">libailibai@phachon.com.cn</td>
                            <td class="center">010-00000000</td>
                            <td class="center">15201203612</td>
                            <td class="center">QQ: 503748759</td>
                            <td class="center">
                                <a name="edit" data-link=""><span class="text text-danger"><i class="glyphicon glyphicon-heart-empty"></i></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>李白李</td>
                            <td>高级JAVA开发工程师架构师</td>
                            <td class="center">libailibai@phachon.com.cn</td>
                            <td class="center">010-00000000</td>
                            <td class="center">15201203612</td>
                            <td class="center">QQ: 503748759</td>
                            <td class="center">
                                <a name="edit" data-link=""><span class="text text-danger"><i class="glyphicon glyphicon-heart"></i></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>李白白</td>
                            <td>高级JAVA开发工程师架构师</td>
                            <td class="center">libailibai@phachon.com.cn</td>
                            <td class="center">010-00000000</td>
                            <td class="center">15201203612</td>
                            <td class="center">QQ: 503748759</td>
                            <td class="center">
                                <a name="edit" data-link=""><i class="glyphicon glyphicon-heart-empty"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>