/* common */
html {
    height:100%
}

body {
    height: 100%;
    overflow-x: hidden;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu;
    font-size: 13px;
    color: #444;
    line-height:15px;
    overflow-y: hidden;
}

a{
    color:#666;
    cursor: pointer;
}
a:hover{
    cursor:pointer;
}
a:hover, a:focus {
    text-decoration: none;
}
th {
    text-align:center;
    /*background:#efefef;*/
}

th{
    /*background-color: #F5F5F5;*/
}
.panel-heading {
    padding: 8px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default {
    margin-bottom: 10px;
}
.container-fluid {
    padding-right: 6px;
    padding-left: 6px;
}
.row {
    margin-right: -6px;
    margin-left: -6px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 6px;
    padding-left: 6px;
}
.control-label {padding-right:15px;}

.inline-group {display: inline-table;}

.center {
    text-align: center;
}
.table{
    table-layout:fixed;
    word-break:break-all;
    word-wrap:break-word;
}

ul,li {
    /*font-size: 13px;*/
    font-size: 14px;
}

.btn-search {
    border-left: 0px;
    /*border-color: #ccc;*/
    background-color: #fff;
}
/**
 *  body 滚动条
 */
#main-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#main-right::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#main-right::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #C7C7C7), color-stop(0.62, #585858), color-stop(0.14, #B1B1B1));
}

/**
 *  菜单滚动条
 */
#main-left::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#main-left::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#main-left::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #C7C7C7), color-stop(0.62, #585858), color-stop(0.14, #B1B1B1));
}

.ztree * {
    font-size: 13px;
}

/*width 按百分比*/
.w5p{width:5%;}
.w6p{width:6%;}
.w7p{width:7%;}
.w8p{width:8%;}
.w9p{width:9%;}
.w10p{width:10%;}
.w11p{width:11%;}
.w12p{width:12%;}
.w13p{width:13%;}
.w14p{width:14%;}
.w15p{width:15%;}
.w20p{width:20%;}
.w21p{width:21%;}
.w22p{width:22%;}
.w23p{width:23%;}
.w24p{width:24%;}
.w25p{width:25%;}
.w30p{width:30%;}
.w35p{width:35%;}
.w40p{width:40%;}
.w45p{width:45%;}
.w50p{width:50%;}
.w55p{width:55%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w70p{width:70%;}
.w75p{width:75%;}
.w80p{width:80%;}
.w85p{width:85%;}
.w90p{width:90%;}
.w95p{width:95%;}
.w100p{width:100%;}

/*width 按像素*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w100{width:100px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w240{width:240px;}
.w260{width:260px;}
.w280{width:280px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}