body {
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color:#666;
    cursor: pointer;
}
a:hover{
    cursor:pointer;
}
a:hover, a:focus {
    text-decoration: none;
}

.wrap1 {
    position: absolute;
    top: 130px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

/*把整个屏幕真正撑开--而且能自己实现居中*/
.main_content {
    background: url(../images/main_bg.png) repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    float: none;
    border-radius: 8px;
}

.form-group {
    position: relative;
}

.login_btn {
    display: block;
    background: #3872f6;
    color: #fff;
    font-size: 15px;
    width: 100%;
    line-height: 40px;
    border-radius: 3px;
    border: none;
}

.login_input {
    width: 100%;
    border: 1px solid #3872f6;
    border-radius: 3px;
    line-height: 40px;
    padding: 2px 5px 2px 30px;
    background: none;
}

.icon_font {
    position: absolute;
    /*bottom: 15px;*/
    margin-top: 12px;
    left: 10px;
    font-size: 18px;
    color: #3872f6;
}

.font16 {
    font-size: 16px;
}

.mg-t20 {
    margin-top: 20px;
}

.mg-t15 {
    margin-top: 20px;
}

.mg-t10 {
    margin-top: 20px;
}

.mg-b20 {
    margin-bottom: 20px;
}

.mg-b15 {
    margin-bottom: 20px;
}

.mg-b10 {
    margin-bottom: 20px;
}

@media (min-width: 200px) {
    .pd-xs-20 {
        padding: 20px;
        padding-top: 5px;
    }
}

@media (min-width: 768px) {
    .pd-sm-50 {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 15px;
        padding-bottom: 50px;
    }
}

#grad {
    background: -webkit-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4990c1, #52a3d2, #6186a3); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4990c1, #52a3d2, #6186a3); /* 标准的语法 */
}