/* main-content*/
#main-content {
    overflow: hidden;
}

/* main-left */
#main-left {
    /*overflow: hidden;*/
    float: left;
    padding: 0;
}

#main-left > .left-search, .left-tree, .left-collection-doc, .left-space {
    margin: 8px 10px;
}

/* main-right */
#main-right {
    overflow-y: auto;
    float: right;
    height: 625px;
}

/* main-line */
#main-line {
    position: absolute;
    top: 50px;
    left: 16.67%;
    height: 100%;
    width: 4px;
    overflow: hidden;
    background: rgb(204,204,204);
    background-image: url(../images/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
    cursor: col-resize;
    user-select: none;
}

/* left-collection-doc */
.left-collection-doc > span {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    font-family: Arial,sans-serif;
}

.left-collection-doc > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(82, 82, 82, 1);
}

.left-collection-doc > ul {
    padding-left: 20px;
}

.left-collection-doc > ul > li {
    padding: 4px;
}

.left-collection-doc > ul > li > a:hover, a:focus {
    text-decoration: underline;
}


.ul-space-category {
    padding-left: 0;
}

.ul-space-category > li {
    list-style-type:none;
    padding: 6px;
}

.ul-space-category a {
    text-decoration: none;
    color: #fff;
}

.view-page-title {
    margin-top: 0;
}

.edit-page-title {
    margin: 5px;
    font-weight: bold;
}
.view-page-time {
    font-size: 12px;
}

#test-editormd {
    border-left: 0;
    border-right: 0;
}