html {
    height:100%
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: "Microsoft YaHei","MicrosoftJhengHei",STHeiti,MingLiu;
    font-size: 13px;
    color: #444;
    background: #e2e2e2;
    line-height:15px;
    overflow-y: hidden;
}

a{
    color: rgba(34, 85, 115, 0.9);
    /*color: #666;*/
    cursor: pointer;
}

a:hover{
    cursor:pointer;
}

a:hover, a:focus {
    text-decoration: none;
}

th {
    text-align:center;
    background:#efefef;
}
.container {
    padding: 8px;
}

.panel-body {
    padding-top: 10px;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.panel-heading {
    padding: 8px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default {
    margin-bottom: 10px;
}

.container-fluid {
    padding-right: 6px;
    padding-left: 6px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.row {
    margin-right: -6px;
    margin-left: -6px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 6px;
    padding-left: 6px;
}
.control-label {padding-right:15px;}

.inline-group {display: inline-table;}

.center {
    text-align: center;
}
.table{
    table-layout:fixed;
    word-break:break-all;
    word-wrap:break-word;
    margin-bottom: 0;
}

.label-xs {
    width: 10px;
    height: 5px;
}
.form-comment {
    margin-top: 8px!important;
}
#paginator {
    margin-left: 10px;
}

#failedBox {
    margin-bottom: 6px;
}

#failedBox > .close {
    line-height: 15px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.div-center {
    margin: 0 auto;
}

ul,li {
    font-size: 14px;
}

.btn-search {
    border-left: 0;
    background-color: #fff;
}

/**
 * mainFrame 滚动条
 */
#frame-body {
    padding-top: 3px;
    overflow-y: auto!important;
}
#frame-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
#frame-body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#frame-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #C7C7C7), color-stop(0.62, #585858), color-stop(0.14, #B1B1B1));
}

/**
 * page view
 */
.view-page-title {
    margin: 0 5px 5px 0;
    font-weight: bold;
    font-size: 28px!important;
}
.view-page-path {
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 5px!important;
    color: #a2a2a2;
}
.view-page-time {
    font-size: 12px;
    margin-bottom: 5px!important;
    color: #a2a2a2;
}

.share-popup {
    margin: 0 auto;
    padding: 10px;
    width: 180px !important;
    height: 200px !important;
    background: #fff;
    border: solid 1px #d8d8d8;
    z-index: 11001;
    font-size: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.share-popup > label {
    margin-top: 4px;
}

#document-qrcode {
    text-align:center;
    margin-top: 5px;
}