<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <br>{{$auth := .auth}}
            <form class="form-horizontal" method="post" action="{{if $auth}} /system/auth/modify {{else}} /system/auth/save {{end}}">
                <input type="hidden" name="auth_id" value="{{$auth.auth_id}}">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> 名称</label>
                    <div class="col-sm-5">
                        <input type="text" name="name" class="form-control" placeholder="请输入登录认证名称" value="{{$auth.name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"> * </span> URL</label>
                    <div class="col-sm-5">
                        <input type="text" name="url" class="form-control" placeholder="请输入登录认证接口" value="{{$auth.host}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"></span> 额外数据</label>
                    <div class="col-sm-5">
                        <input type="text" name="ext_data" class="form-control" placeholder="请输入登录认证接口额外数据：a=b&d=c" value="{{$auth.host}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"></span> 用户名前缀</label>
                    <div class="col-sm-5">
                        <input type="text" name="username_prefix" class="form-control" placeholder="请输入登录用户名前缀" value="{{$auth.sender_address}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="text-danger"></span> 用户名后缀</label>
                    <div class="col-sm-5">
                        <input type="text" name="username_suffix" class="form-control" placeholder="请输入登录用户名后缀" value="{{$auth.username}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="Form.ajaxSubmit(this.form, true);" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>