<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-user-circle fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="group_count_text">{{.normalUserCount}}</div>
                                <div>正常用户数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-primary"><strong>正常用户</strong></span>
                        <span class="pull-right text text-primary"><i class="glyphicon glyphicon-ok"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-lightbulb-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="failed_publish_text">{{.forbiddenUserCount}}</div>
                                <div>屏蔽用户数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-danger"><strong>屏蔽用户</strong></span>
                        <span class="pull-right text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="project_count_text">{{.spaceCount}}</div>
                                <div>空间数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-warning"><strong>空间</strong></span>
                        <span class="pull-right text-warning"><i class="fa fa-cube"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-file-word-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="success_publish_text">{{.documentCount}}</div>
                                <div>文档数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-success"><strong>文档</strong></span>
                        <span class="pull-right text-success"><i class="fa fa-file-word-o"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-line-chart"></i> 文档数量增长趋势(天)</strong> </div>
                    <div class="panel-body">
                        <div id="docs-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-bar-chart"></i> 空间文档数排行</strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-rank"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-pie-chart"></i> 空间文档数占比</strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-percent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong>社交数据统计</strong></div>
                    <div class="panel-body">
                        <br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td><strong>统计项目</strong></td>
                                <td><strong>统计值</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>收藏最多文档</strong></td>
                                <td data-name="today_task_total">0</td>
                            </tr>
                            <tr>
                                <td><strong>修改文档</strong></td>
                                <td data-name="today_user_total"></td>
                            </tr>
                            <tr>
                                <td><strong>修改文档</strong></td>
                                <td data-name="today_success_node">0</td>
                            </tr>
                            <tr>
                                <td><strong>修改文档</strong></td>
                                <td data-name="today_failed_node">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" style="height: 278px">
                    <div class="panel-heading"><strong>系统公告</strong></div>
                    <ul class="list-group">
                    {{range $notice:=.notices}}
                        <li class="list-group-item">
                            <a name="info" data-link="/notice/info?notice_id={{$notice.notice_id}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;{{$notice.title}}<small class="pull-right">{{dateFormat $notice.create_time "Y/m/d"}}</small></a>
                        </li>
                    {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/modules/system/statics.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        Statics.GetDocCountByTime("docs-line", "/system/static/docCountByTime");
        Statics.GetSpaceDocsRank("space-docs-rank", "space-docs-percent", "/system/static/spaceDocsRank");
        // setInterval('Main.GetServerStatus("/main/serverStatus")', 2000);
    });
</script>