<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="group_count_text">{{.normalUserCount}}</div>
                                <div>正常用户数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-primary"><strong>正常用户</strong></span>
                        <span class="pull-right text text-primary"><i class="fa fa-user"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-user-times fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="failed_publish_text">{{.forbiddenUserCount}}</div>
                                <div>屏蔽用户数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-danger"><strong>屏蔽用户</strong></span>
                        <span class="pull-right text-danger"><i class="fa fa-user-times"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="project_count_text">{{.spaceCount}}</div>
                                <div>空间数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-warning"><strong>空间</strong></span>
                        <span class="pull-right text-warning"><i class="fa fa-cube"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-x fa-file-word-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="success_publish_text">{{.documentCount}}</div>
                                <div>文档数</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left text-success"><strong>文档</strong></span>
                        <span class="pull-right text-success"><i class="fa fa-file-word-o"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-line-chart"></i> 文档数量增长趋势(天)</strong> </div>
                    <div class="panel-body">
                        <div id="docs-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-bar-chart"></i> 空间文档数排行</strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-rank"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-pie-chart"></i> 空间文档数占比</strong> </div>
                    <div class="panel-body">
                        <div id="space-docs-percent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-bar-chart"></i> 文档收藏排行</strong> </div>
                    <div class="panel-body">
                        <div id="docs-collect-rank"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong><i class="fa fa-user"></i> 用户数据统计</strong></div>
                    <div class="panel-body" style="min-height: 370px">
                        <br><br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td><strong>统计项目</strong></td>
                                <td class="w30p center"><strong>统计结果</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>今日登录用户数</strong></td>
                                <td class="center">{{.todayLoginUserCount}}</td>
                            </tr>
                            <tr>
                                <td><strong>创建文档最多用户</strong></td>
                                <td class="center">{{.createMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>修改文档最多用户</strong></td>
                                <td class="center">{{.editMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>收藏文档最多用户</strong></td>
                                <td class="center">{{.collectMaxUser.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>粉丝数最多用户</strong></td>
                                <td class="center">{{.fansMaxUser.username}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/modules/system/statics.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        Statics.GetDocCountByTime("docs-line", "/system/static/docCountByTime");
        Statics.GetSpaceDocsRank("space-docs-rank", "space-docs-percent", "/system/static/spaceDocsRank");
        Statics.GetCollectDocsRank("docs-collect-rank", "/system/static/collectDocRank");
    });
</script>