<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4><i class="glyphicon glyphicon-volume-up"></i> {{.panel_title}} </h4>
                <p>{{.panel_description}}</p>
            </div>
        </div>{{$logDocuments := .logDocuments}}
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>文档最近更新</strong></div>
                <div class="panel-body" style="min-height: 550px">
                    <div class="document-update">
                        <ul>
                            {{range $logDocument := $logDocuments}}
                            <li>
                                <div>
                                    <a href="/document/index?document_id={{$logDocument.document_id}}" target="_parent" class="text text-info text-font-15">
                                        {{if eq $logDocument.document_type "1"}}
                                            <i class="fa fa-file-word-o"></i>
                                        {{else}}
                                            <i class="fa fa-folder-o"></i>
                                        {{end}}
                                         {{$logDocument.document_name}}</a>
                                </div>
                                <span class="text text-font-12 document-user-time"><i class="fa fa-calendar"></i> 被 <a href="">{{$logDocument.username}}（{{$logDocument.given_name}}）</a>
                                {{if eq $logDocument.action "1"}}创建{{else if eq $logDocument.action "2"}}修改{{else if eq $logDocument.action "3"}}删除{{end}}于 {{dateFormat $logDocument.create_time "Y-m-d H:i:s"}}</span>
                            </li>
                            <hr>
                            {{end}}
                        </ul>
                    </div>
                    <div class="center">
                    {{template "paginator/document_update.html" .}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="height: 320px">
                <div class="panel-heading"><strong>快速链接</strong></div>
                <div class="panel-body">
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                        <p>
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            <strong>公告内容：公告内容公告内容公告内容</strong>
                        </p>
                    </div>
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                        <p>
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            <strong>公告内容：公告内容公告内容公告内容</strong>
                        </p>
                    </div>
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                        <p>
                            <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                            <strong>公告内容：公告内容公告内容公告内容</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" >
            <div class="panel panel-default" style="height: 315px">
                <div class="panel-heading"><strong>系统联系手册</strong></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                        <li class="list-group-item">运维：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                        <li class="list-group-item">产品：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                        <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
