<div class="container-fluid">
    <div id="main-content" class="row">
        <div id="main-left" class="col-md-2 sidebar">
            {{template "main/left.html" .}}
        </div>
        <div id="main-right" class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info alert-dismissible fade in" role="alert" style="margin-bottom: 10px">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4><i class="glyphicon glyphicon-volume-up"></i> 欢迎来到 XXXX 科技公司 wiki 平台！</h4>
                            <p>请使用域账号登录，使用中有任何问题请联系管理员 root@xxx.com！</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>文档更新</strong></div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>文档</th>
                                        <th class="w18p">用户</th>
                                        <th class="w24p">更新时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                                        <td class="center">wangxiaoer</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档</td>
                                        <td class="center">admin(adadasda)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                                        <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档</td>
                                        <td class="center">admin(adadasda)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                                        <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档</td>
                                        <td class="center">admin(adadasda)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                                        <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档</td>
                                        <td class="center">admin(adadasda)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档这是测试文档这是测试文档</td>
                                        <td class="center">wangxiaoer(王小二.信息技术中心JAVA技术部.产品经理)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    <tr>
                                        <td>这是测试文档这是测试文档</td>
                                        <td class="center">admin(adadasda)</td>
                                        <td class="center">2018-09-10: 08:19:09</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" >
                        <div class="panel panel-default" style="height: 320px">
                            <div class="panel-heading"><strong>系统公告</strong></div>
                            <div class="panel-body">
                                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                                    <p>
                                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                        <strong>公告内容：公告内容公告内容公告内容</strong>
                                    </p>
                                </div>
                                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                                    <p>
                                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                        <strong>公告内容：公告内容公告内容公告内容</strong>
                                    </p>
                                </div>
                                <div class="alert alert-info alert-dismissible fade in" role="alert" style="padding: 10px 10px;margin-bottom: 10px;">
                                    <p>
                                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                                        <strong>公告内容：公告内容公告内容公告内容</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" >
                        <div class="panel panel-default" style="height: 315px">
                            <div class="panel-heading"><strong>系统联系手册</strong></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                                    <li class="list-group-item">运维：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                                    <li class="list-group-item">产品：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                                    <li class="list-group-item">技术：<span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;13245676543&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;phachon@163.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-line"></div>
    </div>
</div>