<div class="container-fluid">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form action="" method="get">
                <div class="col-md-9">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input class="form-control" name="keyword" type="text" value="{{.keyword}}" placeholder="角色名称">
				            <span class="input-group-btn">
				              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
				            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w8p">ID</th>
                <th>名称</th>
                <th class="w15p">创建时间</th>
                <th class="w15p">修改时间</th>
                <th class="w20p">操作</th>
            </tr>
            </thead>
            <tbody>
            {{range $role := .roles}}
            <tr>
                <td class="center">{{$role.role_id}}</td>
                <td>{{$role.name}}</td>
                <td class="center">
                {{dateFormat $role.create_time "Y-m-d H:i:s"}}
                </td>
                <td class="center">
                {{dateFormat $role.update_time "Y-m-d H:i:s"}}
                </td>
                <td class="center">
                    {{if eq $role.role_id "1"}}
                     <a name="user" class="glyphicon glyphicon-user" data-link="/system/role/user?role_id={{$role.role_id}}">用户</a>
                    {{else}}
                    <a name="edit" class="glyphicon glyphicon-edit" data-link="/system/role/edit?role_id={{$role.role_id}}">修改</a>
                    <a name="privilege" class="glyphicon glyphicon-lock" data-link="/system/role/privilege?role_id={{$role.role_id}}">权限</a>
                    <a name="user" class="glyphicon glyphicon-user" data-link="/system/role/user?role_id={{$role.role_id}}">用户</a>
                    <a onclick="Layers.confirm('确定删除吗？', '/system/role/delete?role_id={{$role.role_id}}');" class="remove glyphicon glyphicon-trash">删除</a>
                    {{end}}
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        {{template "paginator/default.html" .}}
    </div>
</div>
</div>
<script type="text/javascript">
    Layers.bindIframe("[name='edit']", "修改角色信息", "300px", "800px");
    Layers.bindIframe("[name='privilege']", "角色权限", "500px");
    Layers.bindIframe("[name='user']", "角色用户", "500px", "1000px");
</script>