<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>MM-Wiki</title>
    <link type="favicon" rel="shortcut icon" href="/static/images/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- font-awesome css-->
    <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <!-- bootstrap spinner.css -->
    <link type="text/css" rel="stylesheet" href="/static/plugins/bootstrap-spinner/css/spinner.css">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">

    <!-- jquery js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery1.11.js"></script>
    <!-- jquery form js-->
    <script type="text/javascript" src="/static/plugins/jquery/jquery.form.js"></script>
    <!-- Bootstrap core js-->
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- layer js-->
    <script type="text/javascript" src="/static/plugins/layui/layer/layer.js"></script>
    <!-- bootstrap-spinner js-->
    <script type="text/javascript" src="/static/plugins/bootstrap-spinner/js/spinner.js"></script>

    <script src="/static/js/common/common.js"></script>
    <script src="/static/js/common/date.js"></script>
    <script src="/static/js/common/form.js"></script>
    <script src="/static/js/common/layers.js"></script>

</head>
<body id="frame-body">
{{.LayoutContent}}
</body>
</html>