<div id="failedBox" style="margin-bottom: 10px" class="hide"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" action="/message/save" method="post" onsubmit="return false">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>消息名称</label>
                <div class="col-sm-4">
                    <input type="text" name="name" class="form-control" value="" placeholder="消息名称" required>
                </div>
            </div>
        </form>
    </div>
</div>
