<div id="main-left" class="ui-layout-west">
    <div class="left-space">
        <ul class="nav nav-sidebar menu-nav">
            <li class="active"><a href="/space/list" target="mainFrame"><i class="fa fa-cube" aria-hidden="true"></i>&nbsp;&nbsp;全部空间 <span class="sr-only">(current)</span></a></li>
            <li><a href="/space/collection" target="mainFrame"><i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;收藏空间</a></li>
        </ul>
    </div>
    <div class="widget">
        <h4 class="title">标签</h4>
        <hr>
        <div class="content tag-cloud">
            {{range $tagName := .spaceTags}}
            <a href="/space/search?tag={{$tagName}}" target="mainFrame">{{$tagName}}</a>
            {{end}}
        </div>
    </div>
</div>
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame"  width="100%" frameborder="0" scrolling="yes" style="overflow-y: auto" src="/space/list"></iframe>