<div class="container-fluid">
    <div id="failedBox" class="hide"></div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">{{$spaceId := .space_id}}

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="w20p text-left">用户名</th>
                    <th class="text-left">姓名</th>
                    <th class="w20p text-left">邮箱</th>
                    <th class="w20p text-left">手机</th>
                    <th class="w13p">空间权限</th>
                </tr>
                </thead>
                <tbody>
                {{range $user := .users}}
                <tr>
                    <td>{{$user.username}}</td>
                    <td>{{$user.given_name}}</td>
                    <td>{{$user.email}}</td>
                    <td>{{$user.mobile}}</td>
                    <td class="center">
                        {{if eq $user.space_privilege "1" }}
                            <span class="label label-info">编辑者</span>
                        {{else if eq $user.space_privilege "2"}}
                            <span class="label label-success">管理员</span>
                        {{else}}
                            <span class="label label-default">浏览者</span>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            {{template "paginator/default.html" .}}
        </div>
    </div>
</div>