/* 自定义侧边栏样式 */
.home-sidebar {
  background-color: #ffffff;
  border-right: 1px solid #f0f0f0;
  overflow: hidden;
  height: 100%;
}

/* 内容区样式 */
.home-content {
  background: #fff;
  height: 100%;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto;
}

/* 自定义滚动条样式 */
.sidebar-content::-webkit-scrollbar {
  width: 2px;
}

/* 触发器 */
.resizable-sidebar {
  background-color: #fff;
  position: relative;
}

.resizable-sidebar .react-resizable-handle {
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: ew-resize;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.resizable-sidebar .react-resizable-handle:hover {
  background-color: #bfbfbf;
}

/* 自定义触发器样式 */
.home-sidebar-trigger {
  width: 24px;
  height: 24px;
  background: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.home-sidebar-trigger.collapsed {
  background: #1677ff;
}

.home-sidebar-trigger .anticon {
  font-size: 12px;
  color: #8c8c8c;
}

.home-sidebar-trigger:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.home-sidebar .ant-menu-item {
  padding-left: 32px !important;
}

.home-sidebar .ant-collapse-header {
  padding: 8px 0 8px 12px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-sidebar .ant-collapse-content-box {
  padding: 0 0 0 36px !important;
  line-height: 2.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-sidebar .ant-collapse-content-box .sidebar-space-item a {
  color: #595959;
}

.home-sidebar .ant-collapse-content-box .sidebar-space-item a:hover{
  color: #1677ff;
}