<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div id="uploader">
                    <div class="queueList">
                        <div class="placeholder">
                            <button class="btn btn-primary"><i class="fa fa-cloud-upload"></i> 点击上传文件</button>
                            {{/*<p>或将文件拖到这里，单次最多可上传10个</p>*/}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>文件名1</td>
                        <td>31267.89 KB</td>
                        <td class="w10p center"><a href=""><i class="fa fa-close"></i></a></td>
                    </tr>
                    <tr>
                        <td>文件名Jacob</td>
                        <td>31123 KB</td>
                        <td class="center"><a href=""><i class="fa fa-close"></i></a></td>
                    </tr>
                    <tr>
                        <td>文件名1Larry</td>
                        <td>123 KB</td>
                        <td class="center"><a href=""><i class="fa fa-close"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary">确定</button>
        </div>
    </div>
</div>